<h1>New User</h1>

<div class="jumbotron">
  <%= render 'form', user: @user %>
</div>
<button class="btn btn-secondary" type = "button">
  <%= link_to 'Back', users_path, class: 'link-to-color' %>
</button>
