<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= Page.find(@revision.page_id).title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @revision.contents %>
</p>

<button class="btn btn-secondary" type = "button">
  <%= link_to 'Back', revisions_path, class: 'link-to-color' %>
</button>
