<p id="notice"><%= notice %></p>

<h1>
  <%= Page.find(@revision.page_id).title %>
</h1>

<div class = "jumbotron">
  <%= @revision.contents.html_safe %>
</div>

<%= link_to 'Back', revisions_path, class: 'link-to-color btn' %>

