<p id="notice"><%= notice %></p>

<p>
  <strong>Page:</strong>
  <%= Page.find(@revision.page_id).title %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @revision.contents %>
</p>

<%= link_to 'Back', revisions_path %>
