<div class="jumbotron">
  <h1 class="display-4">Welcome to Wiki Uno</h1>
  <p class="lead">Simple Wikipedia created by Team Uno.</p>
  <hr class="my-4">
  <p>View & post articles, images, see revision history, and more.</p>
</div>