<h1>Editing Page</h1>
<div class= "jumbotron">
  <%= render 'revisions/form', page: @page %>
</div>

<%= link_to 'Show', @page, class: 'link-to-color btn' %>


<%= link_to 'Back', pages_path, class: 'link-to-color btn' %>
