<h1>New Page</h1>
<div class="jumbotron">
  <%= render 'form', page: @page %>
</div>
<button class="btn btn-secondary" type = "button">
  <%= link_to 'Back', pages_path, class: 'link-to-color' %>
</button>
